body {
  font-family:Gemunu Libre;
  background-color: rgb(223, 217, 217);

}

p {
  font-size: 30px;
}

ul {
  font-size: 30px;
  word-spacing: 5px;
}

h1 {
  background-color: rgb(118, 148, 192);
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  height: 50px;
  float: center;
  width: 96%;
  text-align: center;
}

.box-1 {
  background-color:rgb(118, 148, 192);
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  height: 190px;
  float: left;
  width: 60%;
}

.about-me {
  background-color: rgb(118, 148, 192);
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  height: 150px;
  float: right;
  width: 60%;
}

.pic-1 {
  background-color: rgb(223, 217, 217);
  float: right;
}
